{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}
<div style="float: left;"><img src="{% static "png/picture.jpg" %}" alt="My image" /></div>
<h1 style="text-align: center;">
    <p>About Me</p>
</h1>
<div style="text-align: center;" "width: 25%; left-margin: auto; right-margin: auto;">
    <ul>
        <li>My name is Jon Erra and I'm learning how to develop websites!</li>
        <li>I'm a computer information systems major with a minor in accounting.</li>
        <li>I'm enrolled in a one year masters of business administration program.</li>
        <li>On the weekends I like to go out with my friends</li>
        <li>On the left, you'll see me and two of my friends at Aunt Chilada's</li>
    </ul>
</div>
<!--
<div>
    <iframe src="https://drive.google.com/file/d/0B6Pxo7KY43K7Y25XS3BvS3ozeVk/preview" width="640" height="480"></iframe>
</div>
-->
{% endblock %}