{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div id="wrapper">
    <section id="main">
    	<header>
    		<span class="avatar"><img src="{% static 'images/avatar.jpg' %}" alt="" /></span>
    		<h1>Jon Erra</h1>
    		<p>Full Stack Developer</p>
    	</header>
    	<footer>
    		<ul class="icons">
    			<li><a href="{% url 'resume' %}" class="fa-file-text-o">Resume</a></li>
    			<li><a href="{% url 'message_create' %}" class="fa-pencil">Message me</a></li>
    			<li><a href="{% url 'about' %}" class="fa-child">About me</a></li>
    		</ul>
    	</footer>
    </section>
</div>
{% endblock %}