{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div id="wrapper">
    <section id="main">
    	<header>
    		<span class="avatar"><img src="https://s3.amazonaws.com/jonmywebsite/rsz_avatar.jpg?X-Amz-Date=20160515T210842Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=87a1b7a44088e03273bc284358293470ac65a83a03cc8db21a6dd62b887429d2&X-Amz-Credential=ASIAJDKXMSU65RXX24GA/20160515/us-east-1/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=FQoDYXdzEH4aDCG%2BpqmfjoYwLvOVOiLHAdLt%2BR6qMfMjnAMG6nB4Buu70ajaykzrTGuWnzL91n84FrYi%2ButYz0Gj1t5AvSAwd58A0FFsqBKYa1PaqMV9lGxYTapvog1l8BKqp%2BwSzDUQkrTthXysQePspFjIDXWZrgLr/9ya%2Bz8tm%2Byds2%2BPtuXWeXf2IFYoa996S2wvoH7NLmR/gdi8CqBhWT4jNDH%2BDUnp2JbmYB9miLa5QQaJlFDZzFvr3a0of1pXXz6uF7qgO4obmouGykGfJxPXBBx9u0dfTOaso%2BooyLXjuQU%3D" alt="" /></span>
    		<h1>Jon Erra</h1>
    		<p>Full Stack Developer</p>
    	</header>
    	<footer>
    		<ul class="icons">
    			<li><a href="{% url 'resume' %}" class="fa-file-text-o" data-toggle="tooltip" data-placement="top" title="View my resume!">Resume</a></li>
    			<li><a href="{% url 'message_create' %}" class="fa-pencil" data-toggle="tooltip" data-placement="top" title="Send me a message!">Message me</a></li>
    			<li><a href="{% url 'about' %}" class="fa-child" data-toggle="tooltip" data-placement="top" title="Read about me!">About me</a></li>
    		</ul>
    	</footer>
    </section>
    <script>
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip(); 
        });
    </script>
</div>
{% endblock %}