{% extends 'base.html' %}
{% block content %}
<div class="jumbotron" style="text-align: center;">
    <h1 style="text-align: center;">Welcome to Jon Erra's Website!</h1>
    <p style="text-align: center;">Feel free to contact me at anytime!</p>
    <p style="text-align: center;">
        <a href="{% url 'message_create' %}" class="btn btn-lg btn-primary" id="about-btn">Message me</a>
        <a href="{% url 'about' %}" class="btn btn-lg btn-primary">About me</a>
        <a href="{% url 'resume' %}" class="btn btn-lg btn-primary">My resume</a>
    </p>
</div>
{% endblock %}