{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div id="wrapper">
    <section id="main">
    	<header>
    		<span class="avatar"><img src="http://picresize.com/images/rsz_2avatar.jpg" alt="" /></span>
    		<h1>Jon Erra</h1>
    		<p>Full Stack Developer</p>
    	</header>
    	<footer>
    		<ul class="icons">
    			<li><a href="{% url 'resume' %}" class="fa-file-text-o" data-toggle="tooltip" data-placement="top" title="View my resume!">Resume</a></li>
    			<li><a href="{% url 'message_create' %}" class="fa-pencil" data-toggle="tooltip" data-placement="top" title="Send me a message!">Message me</a></li>
    			<li><a href="{% url 'about' %}" class="fa-child" data-toggle="tooltip" data-placement="top" title="Read about me!">About me</a></li>
    		</ul>
    	</footer>
    </section>
    <script>
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip(); 
        });
    </script>
</div>
{% endblock %}