{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-9 col-md-6">
            <figure class="thumbnail">
                <a href="https://radcliff.herokuapp.com" />
                <img src="https://s3.amazonaws.com/jonmywebsite/radcliff.JPG">
                <figcaption style="text-align: center;">
                    <h2 class="project-name">Radcliff Little League</h2>
                    <small class="role">CSS / HTML / Python</small>
                </figcaption>
            </figure>
        </div>
        <div class="col-xs-9 col-md-6">
            <figure class="thumbnail">
                <a href="https://stockcity.herokuapp.com" />
                <img src="https://s3.amazonaws.com/jonmywebsite/stockcity.JPG">
                <figcaption style="text-align: center;">
                    <h2 class="project-name">Stock Information Board</h2>
                    <small class="role">CSS / HTML / Python</small>
                </figcaption>
            </figure>
        </div>
    </div>
</div>
{% endblock %}